body {
    background-color: #0C0010;
    color: white;
    font-family: 'Miss Fajardose', cursive;
    font-size: 70px;
    overscroll-behavior: none;
    overflow: hidden;
}

.fading {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0;
}

.fading span {
    margin: 1em 0em 1em 0em;
    max-width: 75%;
}

#container {
    display: flex;
}

#warning {
    color: #B80F0A;
}

#thank-you {
    display: none;
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 64px;
    }
}
@media screen and (max-width: 820px) {
    body {
        font-size: 56px;
    }
}
@media screen and (max-width: 700px) {
    body {
        font-size: 50px;
    }
}
@media screen and (max-width: 580px) {
    body {
        font-size: 44px;
    }
}
@media screen and (max-width: 460px) {
    body {
        font-size: 38px;
    }
}
@media screen and (max-width: 320px) {
    body {
        font-size: 36px;
    }
}
@media screen and (max-width: 220px) {
    body {
        font-size: 30px;
    }
}
