<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome...</title>

        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg+xml">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Miss+Fajardose&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script type=text/javascript src="{{ url_for('static', filename='fade.js') }}"></script>
    </head>
    <body>
        <div id="container">
            <div id="welcome" class="fading">
                <span>
                    <p>Welcome.</p>
                    <p>You have been invited to an evening of Masked Revelry.</p>
                </span>
            </div>
            <div id="fae" class="fading">
                <span>
                    <p>Your hosts, King and Queen of the Fae Wild, promise libations and entertainment.</p>
                </span>
            </div>
            <div id="warning" class="fading">
                <span>
                    <p>Their request is not lightly refused.</p>
                </span>
            </div>
            <div id="party-info" class="fading">
                <span>
                    <p>The gateway to this masquerade opens on the 30th of October, 2021.</p>
                    <p>In the city of New York.</p>
                </span>
            </div>
            <div id="accept" class="fading">
              <span id="accept-container">
                    <p>To accept their hospitality, give up your name.</p>
                    <div id="input-container">
                        <input id="name-input" type="text" name="name" placeholder="Name"/>
                        <input id="email-input" type="text" name="email" placeholder="Email"/>
                    </div>
                    <div id="chickens">
                        <img class="image_on" src="{{ url_for('static', filename='chicken.png') }}" />
                        <img class="image_off" src="{{ url_for('static', filename='flying-chicken.png') }}" />
                    </div>
                    <a id="accept-btn">Accept</a>
                </span>
                <span id="thank-you" >
                    <p>Thank you. Prepare to come as you are not.</p>
                    <p>Find inspiration on what might delight the King and Queen <a href="https://www.pinterest.com/tarairenenoble/30th/" target="_blank" and rel="noopener noreferrer">here</a>.</p>
                </span>
            </div>
        </div>
    </body>
</html>

